body {
	margin: 0;
}

#message-list {
  height: calc(100vh - 35px);
  overflow: scroll;
  padding-left: 10px;
  word-wrap: break-word;
}

.form-group.message {
	margin-bottom: 0px;
}

.no-space {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-pills li.active a {
	border-radius: 6px;
}

.room-navbar {
	height: 100vh;
	margin-bottom: 0;
}

.room-navbar li.unread a {
	color: #fff;
	font-weight: bold;
}